.header{
    transform: none;
    transition: none!important;
    position: relative !important;
}
.header-sticky{ 
    position: fixed !important;
    transform: translateY(-64px);
    transition: none !important;
}